################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KindoUIDemo/.vs
*.user
/KindoUIDemo/KindoUIDemo/obj
/KindoUIDemo/KindoUIDemo/bin
*.bak
