@page "{action=Index}/{id=1}"
@model DicDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product["1"] (Dev Express Dictionary)</h2>

<div id="form">
    @{
        @(Html.DevExtreme().Form().ID(Model.product["1"])
                    .LabelLocation(FormLabelLocation.Top).
                    MinColWidth(233).
                    ColCount(Mode.Auto)
                    .ColCountByScreen(c => c.Lg(Model.mdFormLayout.FormColumnCount)
                    .Md(Model.mdFormLayout.FormColumnCount - 1)
                    .Sm(Model.mdFormLayout.FormColumnCount - 2).Xs(1)).ScreenByWidth("screenByWidth")
                    .CustomizeItem("form_customizeItem")
                    .Items(items =>
                    {
                        foreach (var control in Model.mdFormLayout.FieldList)
                        {
                            var name = control.Name;
                            switch (control.ControlType.ToLower())
                            {
                                case "editbox":
                                    items.AddSimple().Label(l => l.Text(name))
                                    .Editor(e => e.TextBox().Value(Model.product[control.ID]));
                                    break;
                                case "checkbox":
                                    items.AddSimple().Label(l => l.Text(name))
                                    .Editor(e => e.CheckBox().Value(Model.product[control.ID].ToLower() == "true"));
                                    break;
                                case "combobox":
                                    items.AddSimple().Label(l => l.Text(name))
                                    .Editor(e => e.SelectBox().DataSource(Model.countries).Value(Model.countries[Int32.Parse(Model.product["1"]) % 10]));
                                    break;
                                case "date":
                                    items.AddSimple().Label(l => l.Text(name))
                                    .Editor(e => e.DateBox().Type(DateBoxType.DateTime).Value(DateTime.Now));
                                    break;
                            }

                        }
                    })
        );

    }
</div>
<br />   
    <div>
        <br />
        <a asp-page="DiList">Back</a>

    </div>
    <script>
    function getFormInstance() {
        return $("#form").dxForm("instance");
    }

        function screenByWidth(width) {
            if (width < 720) {
                return "xs";
            }
            if (width < 1080) {
                return "sm";
            }
            if (width < 1200) {
                return "md";
            }
            return "lg";
    }

    function form_customizeItem(item) {
        if(item.dataField == "Notes")
            item.visible = false;
    }
    </script>
