@page
@model DiListModel
@{
    ViewData["Title"] = "Dev Express Dictionary List";
}

<h2>Product List (Dev Express Dictionary)</h2>
@(
        Html.DevExtreme().DataGrid().ID(Model.MDList.ID).DataSource(Model.products)
        .Paging(p => p.PageSize(10)).ShowBorders(true).ShowRowLines(true)
        .Sorting(s => s.Mode(GridSortingMode.Single))
        .FilterRow(f => {
            f.Visible(true);
            f.ShowOperationChooser(true);
        })
        .Columns(c =>
        {
            foreach(var cell in Model.MDList.MDListColumns)
            {
               c.AddFor(p => cell.ID).Caption(cell.Name).DataField(cell.ID);
            }
        }
        )
        .OnRowClick("OnRowClick")
)

<br />
<a asp-page="Index">Home</a>
 
<script type="text/javascript">
    function OnRowClick(e) {
        var data = e.data;
        var productId = data["1"];
        window.location.replace(document.location.origin + "/MyTGDetail/index/" + productId);
    }
</script>