@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<a asp-page="KList">Kindo</a>
<br />
<a asp-page="DList">Dev Express</a>
<br />
<a asp-page="DiList">Dev Express Dictionary</a>
<br />
<a asp-page="DyList">Dev Express Dynamic Object</a>





