@page
@model KListModel
@{
    ViewData["Title"] = "Kindo List";
}

<h2>Product List (Kindo)</h2>
@(
            Html.Kendo().Grid(Model.products).Name("ProductList").Columns(c =>
            {
                c.Bound(p => p.ProductId).Visible(false);
                c.Bound(p => p.ProductName).Title("Product Name");
                c.Bound(p => p.UnitPrice).Title("Unit Price");
                c.Bound(p => p.UnitInStock).Title("Units In Stoke");
                c.Bound(p => p.Discontinued).Title("Discontinued");
            }
            ).Pageable().Sortable().Filterable()
            .Selectable(selectable => selectable.Type(GridSelectionType.Row))
            .Events(events => events.Change("OnRowClick"))
)

<br />
<a asp-page="Index">Home</a>

<script type="text/javascript">
    function OnRowClick(arg) {
        var data = this.dataItem(this.select());
        var productId = data.ProductId
        window.location.replace(document.location.origin + "/KDetail/index/" + productId);
    }
</script>