@page "Index/{id=1}"
@model MyDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product["1"] (Dev Express Dictionary)</h2>

<div id="form">
    @Html.Partial("_FormLayout", Model);
</div>

<br />   
    <div>
        <br />
        <a asp-page="DiList">Back</a>
    </div>
