@page "Index/{id=1}"
@model MyTGDetail
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product["1"] (Dev Express Dictionary)</h2>


@Html.Partial("_TagHealperFormLayout", Model.product)

<br />
<div>
    <br />
    <a asp-page="DiList">Back</a>
</div>
